input[type=checkbox] {
	vertical-align: middle;
}
.query_name_mini {
	width:80px;
}
.query_value_mini {
	width:180px;
}
.query_name_small {
	width:100px;
}
.query_value_small {
	width:200px;
}
.query_name_mid {
	width:200px;
}
.query_value_mid {
	width:250px;
}
.query_name_big {
	width:300px;
}
.query_value_big {
	width:300px;
}
.form_name_small {
	width:150px;
	padding-right:15px;
}
.form_value_small {
	width:180px;
}
.form_name_mid {
	width:200px;
	padding-right:15px;
}
.form_value_mid {
	width:250px;
}
.form_name_big {
	width:300px;
	padding-right:15px;
}
.form_value_big {
	width:300px;
}
.detail_query_name {
	width:15%;
}

.detail_query_value {
	width:35%;
}


.text_right {
	text-align:right;
}

.text_center {
	text-align:center;
}

.displaynone {
	display:none;
}

.hidden {
	visibility:hidden;
}

.visible {
	visibility:visible;
}

table[class~=nodt] {
	border-collapse:collapse;
	border:1px solid #aaa;
}
table[class~=nodt] th {
	padding:0 5px;
	border:1px solid #aaa;
	height:27px;
}
table[class~=nodt] td {
	padding:0 5px;
	border:1px solid #aaa;
	height:27px;
}

.noborder {
	border:0;
}

.alert {
	border:1px solid transparent;
	/*border-radius:4px;*/
}
.alert-danger{
	background-color:#f2dede;
	border-color:#eed3d7;
	color:#b94a48;
}

